@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0;
  padding: 0;
  max-width: 3200px;
}
body {
  min-height: 100vh; /* Ensures full vertical height */
  overflow-x: hidden; /* Prevents horizontal overflow */
}
.user-select-none {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
/* Add this style to your stylesheet */
.blur-bg {
  filter: blur(4px);
}
